.row
  #quote_field= "“#{quote.quoted_text}”"
.row
  #author_field= "– #{quote.author}"
.row
  #links_area
    - if controller.action_name == 'show'
      %strong
        %a.randomize{ href: root_url } back to random quotes
      |
    %a.permalink{ href: quote_url(quote.id) } permalink
    |
    %a.sourcelink{ href: quote.sourcelink } sourcelink
