.row
  #content
    .row
      #quote_field= "“#{SecureRandom.base64}”"
    .row
      #author_field – Jean Mertz
    .row
      #links_area
        %a.permalink{ href: 'http://example.com' } permalink
        |
        %a.sourcelink{ href: 'http://example.com' } sourcelink
