---
http_interactions:
- request:
    method: get
    uri: http://www.iheartquotes.com/api/v1/random.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"e0c3584eb59fc0e9ac75caa4aced616d"'
    body:
      encoding: US-ASCII
      string: ! '{"json_class":"Fortune","tags":["dyer","codehappy"],"quote":"A continuing
        flow of paper is sufficient to continue the flow of paper.\r\n\t\t-- Dyer","link":"http://iheartquotes.com/fortune/show/34796","source":"codehappy"}'
  recorded_at: Sun, 29 Jul 2012 06:32:34 GMT
recorded_with: VCR 2.2.4
