---
http_interactions:
- request:
    method: get
    uri: http://www.iheartquotes.com/api/v1/random.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"ddd78a5894457f72789c2c7b698856f2"'
    body:
      encoding: US-ASCII
      string: ! '{"json_class":"Fortune","tags":["james_michener","science"],"quote":"An
        age is called Dark not because the light fails to shine, but because\npeople
        refuse to see it.\n\t\t-- James Michener, \"Space\"","link":"http://iheartquotes.com/fortune/show/52272","source":"fortune"}'
  recorded_at: Sun, 29 Jul 2012 06:30:17 GMT
recorded_with: VCR 2.2.4
