---
http_interactions:
- request:
    method: get
    uri: http://www.iheartquotes.com/api/v1/random.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"a388a35b746cb4f57f0e86cb68b967e5"'
    body:
      encoding: US-ASCII
      string: ! '{"json_class":"Fortune","tags":["codehappy"],"quote":"The Academy
        Awards were first broadcast in color in 1966.","link":"http://iheartquotes.com/fortune/show/40978","source":"codehappy"}'
  recorded_at: Sun, 29 Jul 2012 06:30:17 GMT
recorded_with: VCR 2.2.4
