.page-header
  = link_to quote_sources_path, :class => 'btn' do
    %i.icon-list-alt
    Back
  = link_to @quote_source, :class => 'btn btn-primary' do
    %i.icon-info-sign.icon-white
    Show
  %h1 Editing quote_source

= render 'form'
