---
http_interactions:
- request:
    method: get
    uri: http://www.iheartquotes.com/api/v1/random.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"7f3460eda8485378b5c384927d1db6f9"'
    body:
      encoding: US-ASCII
      string: ! '{"json_class":"Fortune","tags":["john_heywood","platitudes"],"quote":"You
        cannot see the wood for the trees.\n\t\t-- John Heywood","link":"http://iheartquotes.com/fortune/show/51374","source":"fortune"}'
  recorded_at: Sun, 29 Jul 2012 06:30:18 GMT
[...]
- request:
    method: get
    uri: http://www.iheartquotes.com/api/v1/random.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"fd16e889a1f087a697813412fb40498a"'
    body:
      encoding: US-ASCII
      string: ! '{"json_class":"Fortune","tags":["captain_grose","1811_dictionary_of_the_vulgar_tongue","dictionary","vulgar"],"quote":"BANDOG.
        A bailiff or his follower; also a very fierce\r\n  mastiff: likewise, a bandbox.
        CANT.","link":"http://iheartquotes.com/fortune/show/55777","source":"1811_dictionary_of_the_vulgar_tongue"}'
  recorded_at: Sun, 29 Jul 2012 11:06:16 GMT
recorded_with: VCR 2.2.4
