!!!
%html
  %head
    %title I ♥ Kabisa
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body{ id: controller.controller_name, class: controller.action_name }
    .container= yield
